.AppFeedbackModal .commentsContainer{
    padding: 10px;
}

.AppFeedbackModal .commentsContainer .ratingControlContainer b{
    display: block;
    margin-bottom: 10px;
}

.AppFeedbackModal .commentsContainer .ratingControlContainer textarea{
    min-height: 100px;
    resize: vertical;
}

.AppFeedbackModal .ratingControlContainer{
    display: block;
    margin: 0 0 20px 0;
}